<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="Gherkin" version="19.0.3" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net462" />
  <package id="Microsoft.NET.Test.Sdk" version="15.0.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.Support" version="4.14.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.14.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="118.0.5993.7000" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.40" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.40" targetFramework="net48" />
  <package id="SpecRun.Runner" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow.3-9-0" version="3.9.31" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net462" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net48" />
</packages>